# Go
/bin/
/build/
/dist/
*.test
coverage.out

# Frontend
node_modules/
dist/
dist-ssr/

# Local configuration
.env
.env.*
*.local
.devdata/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editors and OS files
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
