@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite-qwik";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bgContrast: #ffffff;
}

@layer theme {
  .dark {
    --color-bgContrast: #111827;
  }
}

@layer base {
  html,
  body {
    min-height: 100%;
  }

  body {
    margin: 0;
    background-color: #f9fafb;
  }

  * {
    box-sizing: border-box;
  }
}
